---
import type { CollectionEntry } from 'astro:content'
import Base from './base.astro'
import BlogHero from './bloghero.astro'
import NextPrev from './nextprev.astro'
import Images from './images.astro'

export interface Props {
  post: CollectionEntry<'blog'>
  prev?: CollectionEntry<'blog'>
  next?: CollectionEntry<'blog'>
}

const { post, prev, next } = Astro.props
---

<Base frontmatter={post.data} schema='Article'>
  <main>
    <article class='post'>
      <header>
        <BlogHero {post} />
      </header>
      <section
        class='prose prose-purple dark:prose-invert lg:prose-xl mx-auto max-w-(--breakpoint-lg) px-4 py-8'
      >
        {post.data.images && <Images images={post.data.images} />}
        <slot itemprop='articleBody' />
      </section>
    </article>
  </main>
  <NextPrev
    slot='before-footer'
    base={import.meta.env.BASE_URL + 'blog/'}
    prev={prev}
    next={next}
  />
  <div class='giscus mx-auto max-w-(--breakpoint-lg)'></div>
  <script
    is:inline
    src='https://giscus.app/client.js'
    data-repo='ChristineTham/christinetham.github.io'
    data-repo-id='R_kgDOH7yvAw'
    data-category='General'
    data-category-id='DIC_kwDOH7yvA84CWpgB'
    data-mapping='pathname'
    data-strict='0'
    data-reactions-enabled='1'
    data-emit-metadata='0'
    data-input-position='bottom'
    data-theme='preferred_color_scheme'
    data-lang='en'
    data-loading='lazy'
    crossorigin='anonymous'
    async></script>
</Base>
