---
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'
import Categories from './categories.astro'
import Tags from './tags.astro'

export interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const cat = await getEntry('category', post.data.categories[0])
const image =
  post.data.coverImage ||
  (post.data.images && post.data.images[0]) ||
  post.data.socialImage ||
  cat!.data.coverImage
---

<div class='bg-rosely7 dark:bg-rosely8 relative h-96 w-full max-w-none'>
  <div class='from-rosely0 absolute bottom-0 left-0 z-10 h-full w-full bg-linear-to-t'></div>
  <img
    itemprop='image'
    src={image.src}
    alt='featured image'
    class='absolute top-0 left-0 z-0 h-full w-full object-cover'
  />
  <div class='absolute bottom-0 left-0 z-20 p-4'>
    <Categories categories={post.data.categories} />
    <h2 class='text-rosely3 text-4xl leading-tight font-bold'>
      {post.data.title}
    </h2>
    <h2 class='text-rosely6 text-xl font-medium italic'>
      {post.data.description}
    </h2>
    <span class='mt-3 flex'>
      {
        post.data.pubDate && (
          <span class='mr-6 flex items-center'>
            <Icon class='text-rosely6 mr-1 h-6 w-6' name='heroicons:calendar-days' />
            <span class='text-rosely6 ml-1 font-semibold'>
              {post.data.pubDate.toLocaleString('en-AU', {
                dateStyle: 'full',
                timeStyle: 'long',
                timeZone: 'Australia/Sydney'
              })}
            </span>
          </span>
        )
      }
      {
        post.data.minutesRead && (
          <span class='flex items-center'>
            <Icon class='text-rosely6 mr-1 h-6 w-6' name='heroicons:clock' />
            <span class='text-rosely6 ml-1 font-semibold'>{post.data.minutesRead}</span>
          </span>
        )
      }
    </span>
    <Tags tags={post.data.tags} />
  </div>
</div>
