---
import type { CollectionEntry } from 'astro:content'
import { getPosts } from '../../common/config'
import Base from '../../common/base.astro'
import PageHero from '../../common/pagehero.astro'
import BlogRoll from '../../common/blogroll.astro'
import Years from '../../common/years.astro'
import coverImage from '../../images/svg/undraw/my_feed.svg'
import socialImage from '../../images/undraw/my_feed.png'

export interface Props {
  year: number
  years: number[]
  posts: CollectionEntry<'blog'>[]
}

const { year, years, posts } = Astro.props

const frontmatter: CollectionEntry<'page'>['data'] = {
  title: 'What happened in ' + year,
  description: 'These are some of the things I did and articles I have written in ' + year,
  coverImage: coverImage,
  socialImage: socialImage
}

export async function getStaticPaths() {
  const posts = await getPosts()
  const years = [...new Set(posts.map((post) => new Date(post.data.pubDate!).getFullYear()))]

  return years.map((year) => ({
    params: { year },
    props: {
      year,
      years,
      posts: posts.filter((post) => new Date(post.data.pubDate!).getFullYear() === +year)
    }
  }))
}
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title!}
      description={frontmatter.description}
      coverImage={frontmatter.coverImage}
      socialImage={frontmatter.socialImage}
    >
      <Years year={year} years={years} />
    </PageHero>
  </header>
  <main class='bg-rosely7 dark:bg-rosely1'>
    <BlogRoll posts={posts} />
  </main>
</Base>
