---
import type { PaginateFunction, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'
import { getEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { PAGE_SIZE, getPosts } from '../../../config'
import Base from '../../../layouts/base.astro'
import PageHero from '../../../components/pagehero.astro'
import BlogRoll from '../../../components/blogroll.astro'
import PaginateControl from '../../../components/paginatecontrol.astro'

export interface Props {
  page: Page<CollectionEntry<'blog'>>
}

const { category } = Astro.params
const { page } = Astro.props

const detail = await getEntry('category', category!)
const { Content } = await render(detail!)
const frontmatter: CollectionEntry<'page'>['data'] = {
  title:
    'Category: ' +
    category +
    (page.size < page.total ? ' (page ' + page.currentPage + ' of ' + page.lastPage + ')' : ''),
  description: detail!.data.description,
  coverImage: detail!.data.coverImage,
  socialImage: detail!.data.socialImage
}

const currentPage = Astro.url.pathname.replace(/(\/\d*)?\/?$/, '')

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const categories = await getCollection('category')
  const posts = await getPosts()

  return categories.flatMap((category) => {
    return paginate(
      posts.filter(
        (post) =>
          category && post.data.categories!.map((category) => category.id).includes(category.id)
      ),
      {
        params: { category: category.id },
        pageSize: PAGE_SIZE
      }
    )
  })
}
---

<Base frontmatter={frontmatter} schema='CollectionPage'>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverImage={frontmatter.coverImage}
      socialImage={frontmatter.socialImage}
    >
      <img slot='before' src={detail!.data.icon.src} alt={category as string} class='h-32 w-32' />
      <PaginateControl base={currentPage} page={page} />
    </PageHero>
  </header>
  <main itemprop='mainContentOfPage'>
    <section
      class='prose prose-purple mx-auto max-w-(--breakpoint-lg) px-4 py-8 dark:prose-invert lg:prose-xl'
    >
      <Content />
    </section>
    <BlogRoll posts={page.data} />
  </main>
</Base>
