---
import { getCollection } from 'astro:content'
import type { Frontmatter } from '../config'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import CategoryRoll from '../components/categoryroll.astro'

import coverImage from '../images/svg/undraw/windows.svg'
import socialImage from '../images/undraw/windows.png'

const frontmatter: Frontmatter = {
  title: 'Categories',
  description: 'Categories for articles',
  coverImage: coverImage,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime,
  categories: []
}

const categories = await getCollection('category')
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverImage={frontmatter.coverImage}
      socialImage={frontmatter.socialImage}
    />
  </header>
  <main itemprop="mainContentOfPage" class="bg-rosely3 dark:bg-rosely0">
    <CategoryRoll categories={categories} />
  </main>
</Base>
