---
import { getCollection } from 'astro:content'
import type { Frontmatter } from '../config'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import CategoryRoll from '../components/categoryroll.astro'

const frontmatter: Frontmatter = {
  title: 'Categories',
  description: 'Categories for articles',
  coverImage: '../images/svg/undraw/windows.svg',
  socialImage: '../images/undraw/windows.png',
  publishDate: SiteMetadata.buildTime,
}

const posts = await getCollection('blog')
const latestPosts = posts.sort((a, b) => +b.data.publishDate - +a.data.publishDate).filter(p => !p.data.draft)

const categories = Array.from(new Set(latestPosts.flatMap(post => post.data.categories)))
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverImage={frontmatter.coverImage}
      socialImage={frontmatter.socialImage}
    />
  </header>
  <main class="bg-rosely3 dark:bg-rosely0">
    <CategoryRoll categories={categories} />
  </main>
</Base>
