---
import type { MarkdownInstance } from 'astro'
import type { Frontmatter } from '../config'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import CategoryRoll from '../components/categoryroll.astro'

const frontmatter: Frontmatter = {
  title: 'Categories',
  description: 'Categories for articles',
  coverSVG: '../svg/undraw/windows.svg',
  socialImage: '../images/undraw/windows.png',
  publishDate: SiteMetadata.buildTime,
}

const allPosts = (await Astro.glob(
  './blog/*.{md,mdx}'
)) as MarkdownInstance<Frontmatter>[]
const posts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
  .filter(post => !post.frontmatter.draft)

const categories = Array.from(new Set(posts.flatMap(post => post.frontmatter.categories))) as string[]

---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={frontmatter.coverSVG}
      socialImage={frontmatter.socialImage}
    />
  </header>
  <main class="bg-gray-100 dark:bg-gray-900">
    <CategoryRoll categories={categories} />
  </main>
</Base>
