---
import type { CollectionEntry } from 'astro:content'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import WebRoll from '../components/webroll.astro'

import coverImage from '../images/svg/undraw/building_websites.svg'
import socialImage from '../images/undraw/building_websites.png'
const frontmatter: CollectionEntry<'page'>['data'] = {
  title: 'Websites',
  description:
    'I love building websites as a hobby. These are some websites that I have built over the years.',
  coverImage: coverImage,
  socialImage: socialImage
}
---

<Base frontmatter={frontmatter} schema='CollectionPage'>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverImage={frontmatter.coverImage}
      socialImage={frontmatter.socialImage}
    />
  </header>
  <main itemprop='mainContentOfPage' class='bg-rosely3 dark:bg-rosely0'>
    <WebRoll />
  </main>
</Base>
