---
import { Icon } from 'astro-icon'
import type { MarkdownInstance } from 'astro'
import type { Frontmatter } from '../config'
import  { categoryDetail } from '../config'
import SVGImg from '../components/svgimg.astro'
import Img from '../components/img.astro'
import Categories from '../components/categories.astro'
import Tags from '../components/tags.astro'

export interface Props {
  post: MarkdownInstance<Frontmatter>
}

const { post } = Astro.props
const image = post.frontmatter.coverImage || post.frontmatter.socialImage || (post.frontmatter.images && post.frontmatter.images[0]) || categoryDetail(post.frontmatter.categories && post.frontmatter.categories[0]).socialImage
const svgimg = post.frontmatter.coverSVG || (post.frontmatter.coverImage || post.frontmatter.images ? null : categoryDetail(post.frontmatter.categories && post.frontmatter.categories[0]).coverSVG)
---

<section>
  <div
    class="group relative h-full border-1 border-roselyA bg-rosely3 dark:border-rosely8 dark:bg-rosely0 rounded-lg shadow-xl overflow-hidden"
  >
    <a href={post.url}>
      {
        svgimg ? (
          <SVGImg
            src={svgimg}
            alt={post.frontmatter.title + ' featured image'}
            class="relative w-full h-64 bg-rosely6 dark:bg-rosely8 rounded-lg overflow-hidden group-hover:opacity-75 object-center object-contain"
          />
        ) : (
          <Img
            src={image}
            alt={post.frontmatter.title + ' featured image'}
            class="relative w-full h-64 rounded-lg overflow-hidden group-hover:opacity-75 object-top object-cover"
          />
        )
      }
      <p class="sr-only">{post.frontmatter.title}</p>
    </a>
    <div class="p-4">
      <Categories categories={post.frontmatter.categories} />
      <a href={post.url}>
        <h1
          class="title-font text-xl font-bold text-rosely9 hover:text-roselyC dark:text-roselyB dark:hover:text-rosely5 mt-2"
        >
          {post.frontmatter.title}
        </h1>
      </a>
      <div class="flex items-center flex-wrap">
        <span
          class="text-rosely1 dark:text-rosely7 mr-3 inline-flex items-center leading-none text-xs pr-3 py-1 border-r-2 border-roselyA dark:border-rosely8"
        >
          <Icon class="w-4 h-4 mr-1" pack="heroicons-outline" name="calendar" />
          {post.frontmatter.publishDate?.slice(0, 10)}
        </span>
        <span
          class="text-rosely1 dark:text-rosely7 mr-3 inline-flex items-center leading-none text-xs pr-3 py-1 border-r-2 border-roselyA dark:border-rosely8"
        >
          <Icon class="w-4 h-4 mr-1" pack="heroicons-outline" name="clock" />
          {post.frontmatter.minutesRead}
        </span>
        {post.frontmatter.author && (
          <span
          class="text-rosely1 dark:text-rosely7 inline-flex items-center leading-none text-xs"
          >
          <Icon
          class="w-4 h-4 mr-1"
          pack="heroicons-outline"
          name="user-circle"
          />
          {post.frontmatter.author}
          </span>
        )}
      </div>

      <p class="mt-3 italic text-sm text-rosely1 dark:text-rosely6">
        {post.frontmatter.description}
      </p>
      <Tags tags={post.frontmatter.tags} />
    </div>
  </div>
</section>
