---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon'
import { categoryDetail } from '../config'
import Img from '../components/img.astro'
import Categories from '../components/categories.astro'
import Tags from '../components/tags.astro'

export interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const image = post.data.coverImage ||
  (post.data.images && post.data.images[0]) ||
  post.data.socialImage ||
  (categoryDetail(post.data.categories && post.data.categories[0]).coverImage)
---

<section>
  <div
    class="group relative h-full border-1 border-roselyA bg-rosely3 dark:border-rosely8 dark:bg-rosely0 rounded-lg shadow-xl overflow-hidden"
  >
    <a href={import.meta.env.BASE_URL + 'blog/' + post.slug}>
      <Img
        src={image}
        alt={post.data.title + ' featured image'}
        class="relative w-full h-64 rounded-lg overflow-hidden group-hover:opacity-75 object-top object-cover"
      />
      <p itemprop="name" class="sr-only">{post.data.title}</p>
    </a>
    <div class="p-4">
      <Categories categories={post.data.categories} />
      <a itemprop="url" href={import.meta.env.BASE_URL + 'blog/' + post.slug}>
        <h1
          itemprop="name"
          class="title-font text-xl font-bold text-rosely9 hover:text-roselyC dark:text-roselyB dark:hover:text-rosely5 mt-2"
        >
          {post.data.title}
        </h1>
      </a>
      <div class="flex items-center flex-wrap">
        <span
          itemprop="datePublished"
          class="text-rosely1 dark:text-rosely7 mr-3 inline-flex items-center leading-none text-xs pr-3 py-1 border-r-2 border-roselyA dark:border-rosely8"
        >
          <Icon class="w-4 h-4 mr-1" pack="heroicons-outline" name="calendar" />
          {post.data.publishDate.toLocaleDateString('en-AU', { dateStyle: 'long', timeZone: 'Australia/Sydney' })}
        </span>
        {post.data.minutesRead && (
          <span
            class="text-rosely1 dark:text-rosely7 mr-3 inline-flex items-center leading-none text-xs pr-3 py-1 border-r-2 border-roselyA dark:border-rosely8"
          >
          <Icon class="w-4 h-4 mr-1" pack="heroicons-outline" name="clock" />
          {post.data.minutesRead}
        </span>
        )}
        {post.data.author && (
          <Icon class="text-rosely1 dark:text-rosely7 w-4 h-4 mr-1" pack="heroicons-outline" name="user-circle" />
          <span itemprop="author" class="text-rosely1 dark:text-rosely7 inline-flex items-center leading-none text-xs" >
            {post.data.author}
          </span>
        )}
      </div>

      <p itemprop="abstract description" class="mt-3 italic text-sm text-rosely1 dark:text-rosely6">
        {post.data.description}
      </p>
      <Tags tags={post.data.tags} />
    </div>
  </div>
</section>
