---
import { Icon } from 'astro-icon'
import { authorDetail, categoryDetail, Frontmatter } from '../config'
import Categories from '../components/categories.astro'
import Tags from '../components/tags.astro'
import Img from '../components/img.astro'

export interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props

const image = frontmatter.coverImage ||
  (frontmatter.images && frontmatter.images[0]) ||
  frontmatter.socialImage ||
  (categoryDetail(frontmatter.categories && frontmatter.categories[0]).coverImage)
---

<div class="w-full max-w-none relative h-96 bg-rosely7 dark:bg-rosely8">
  <div
    class="absolute left-0 bottom-0 w-full h-full z-10 bg-gradient-to-t from-rosely0"
  >
  </div>
  <Img
    itemprop="image"
    src={image}
    alt="featured image"
    class="absolute left-0 w-full h-full top-0 z-0 object-cover"
  />
  <div class="p-4 absolute bottom-0 left-0 z-20">
    <Categories categories={frontmatter.categories} />
    <h2 class="text-4xl font-bold text-rosely3 leading-tight">
      {frontmatter.title}
    </h2>
    <h2 class="text-xl font-medium italic text-rosely6">
      {frontmatter.description}
    </h2>
    <span class="flex mt-3">
      {frontmatter.author && (
        <span class="flex items-center mr-6">
          <Img
            src={authorDetail(frontmatter.author).image}
            alt={frontmatter.author}
            class="h-10 w-10 rounded-full mr-2 object-cover"
          />
          <Icon class="w-6 h-6 mr-1 text-rosely6" pack="heroicons-outline" name="user-circle" />
          <span class="font-semibold text-rosely6">
            {frontmatter.author}
          </span>
        </span>
      )}
      <span class="flex items-center mr-6">
        <Icon class="w-6 h-6 mr-1 text-rosely6" pack="heroicons-outline" name="calendar" />
        <span class="font-semibold text-rosely6 ml-1">
          {new Date(frontmatter.publishDate).toLocaleString('en-AU', { dateStyle: 'full', timeStyle: 'long', timeZone: 'Australia/Sydney' })}
        </span>
      </span>
      <span class="flex items-center">
        <Icon class="w-6 h-6 mr-1 text-rosely6" pack="heroicons-outline" name="clock" />
        <span class="font-semibold text-rosely6 ml-1">
          {frontmatter.minutesRead}
        </span>
      </span>
    </span>
    <Tags tags={frontmatter.tags} />
  </div>
</div>
