---
import type { CollectionEntry } from 'astro:content'

interface Props {
  categories: CollectionEntry<'category'>[]
}
const { categories } = Astro.props
---

<div
  itemprop='mainEntity'
  itemscope
  itemtype='https://schema.org/CollectionPage'
  class='mx-auto max-w-none p-4 sm:px-6 lg:px-8'
>
  <div class='grid grid-cols-2 gap-x-6 space-y-0 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6'>
    {
      categories
        .filter((cat) => cat.slug != 'website')
        .map((category) => (
          <div class='group'>
            <a itemprop='url' href={`${import.meta.env.BASE_URL}category/${category.slug}/`}>
              <div class='aspect-h-1 aspect-w-1 relative mb-4 overflow-hidden rounded-lg bg-rosely5 shadow-xl group-hover:opacity-75 dark:bg-rosely8'>
                <img
                  src={category.data.icon.src}
                  alt={category.data.description}
                  class='h-full w-full object-cover object-center'
                />
              </div>
              <h3
                itemprop='name'
                class='inline-block rounded bg-rosely9 px-3 py-1 text-xs font-medium uppercase tracking-tight text-white hover:bg-roselyC'
              >
                {category.data.title}
              </h3>
              <p itemprop='abstract description' class='text-base text-rosely1 dark:text-rosely6'>
                {category.data.description}
              </p>
            </a>
          </div>
        ))
    }
  </div>
</div>
