---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

interface Props {
  featured?: boolean
}
const { featured = false } = Astro.props

const websites = await getCollection('website', (website) => !featured || website.data.featured)
---

<div
  itemprop='mainEntity'
  itemscope
  itemtype='https://schema.org/WebSite'
  class='bg-rosely7 dark:bg-rosely1 mx-auto max-w-none p-4 sm:px-6 lg:px-8'
>
  <div class='grid grid-cols-1 gap-8 space-y-0 md:grid-cols-2 lg:grid-cols-4'>
    {
      websites.map((site) => (
        <div class='group'>
          <a itemprop='name' href={site.data.link}>
            <div class='bg-rosely7 dark:bg-rosely8 relative mb-4 overflow-hidden rounded-lg shadow-xl group-hover:opacity-75'>
              <Image
                src={site.data.image}
                alt={site.data.title}
                class='h-full w-full object-contain object-center'
              />
            </div>
            <h3
              itemprop='name'
              class='bg-rosely9 hover:bg-rosely-c inline-block rounded-sm px-3 py-1 text-xs font-medium tracking-tight text-white uppercase'
            >
              {site.data.title}
            </h3>
            <p itemprop='abstract description' class='text-rosely1 dark:text-rosely6 text-base'>
              {site.data.description}
            </p>
          </a>
        </div>
      ))
    }
  </div>
</div>
