---
import type { CollectionEntry } from 'astro:content'
import MoreMenu from './moremenu.astro'
import TableOfContents from './tableofcontents.astro'
import type { MarkdownHeading } from 'astro'

type Props = {
  frontmatter: CollectionEntry<'bio'>['data']
  headings: MarkdownHeading[]
  githubEditUrl: string
}

const { frontmatter, headings, githubEditUrl } = Astro.props as Props
const title = frontmatter.title
---

<article
  id='article'
  class='max-w-2xl min-w-0 flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16'
>
  <section class='mb-9 space-y-1'>
    <p
      itemprop='articleSection'
      class='font-display text-rosely9 dark:text-rosely-b text-sm font-medium'
    >
      {frontmatter.section}
    </p>
    <h1 class='font-display text-rosely8 dark:text-rosely3 text-3xl tracking-tight'>{title}</h1>
    <p class='font-display text-rosely8 dark:text-rosely3 text-lg tracking-tight italic'>
      {frontmatter.description}
    </p>
    <nav class='block sm:hidden'>
      <TableOfContents headings={headings} />
    </nav>
    <slot itemprop='articleBody' />
  </section>
  <nav class='block sm:hidden'>
    <MoreMenu editHref={githubEditUrl} />
  </nav>
</article>
